# Tuples

Video Outline:

1.Introduction to Tuples

2.Creating Tuples

3.Accessing Tuple Elements

4.Tuple Operations

5.Immutable Nature of Tuples

6.Tuple Methods

7.Packing and Unpacking Tuples

8.Nested Tuples

9.Practical Examples and Common Errors

# Introduction to Tuples

Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [1]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
## tuple convert to list
number = tuple([1,2,3,4,5,6])
number

(1, 2, 3, 4, 5, 6)

In [5]:
## list convert to tuple
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple = (1,"sreenivas",2.1,True)
mixed_tuple

(1, 'sreenivas', 2.1, True)

In [7]:
## Accessing Tuple 
number

(1, 2, 3, 4, 5, 6)

In [9]:
print(number[2])
print(number[-1])

3
6

In [10]:
number[0:4]

(1, 2, 3, 4)

In [11]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [12]:
## Tuple Operations

concatenation_tuple=number + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'sreenivas', 2.1, True)

In [14]:
number*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
mixed_tuple*3

(1,
 'sreenivas',
 2.1,
 True,
 1,
 'sreenivas',
 2.1,
 True,
 1,
 'sreenivas',
 2.1,
 True)

In [15]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="sreenivas"
print(lst)

[1, 2, 3, 4, 5]
[1, 'sreenivas', 3, 4, 5]

In [16]:
number[1] = "Sreenivas"

TypeError: 'tuple' object does not support item assignment

In [17]:
number

(1, 2, 3, 4, 5, 6)

In [18]:
## Tuple Methods
print(number.count(1))
print(number.index(3))

1
2

In [19]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [20]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [21]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [22]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [23]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [24]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [25]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

# Conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.